*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# package building directory 
/target/

#local config files
/*.cfg

#weka and experiment related files
*.arff
*.rslt
*.model
/posSents/
/absa-models/


#mvn created files
/dependency-reduced-pom.xml
